[submodule "src/libs/lm"]
	path = src/libs/lm
	url = git@github.com:Joklost/lm.git
[submodule "src/libs/geo"]
	path = src/libs/geo
	url = git@github.com:Joklost/geo.git
[submodule "src/libs/mpilib"]
	path = src/libs/mpilib
	url = git@github.com:Joklost/mpilib.git
[submodule "src/libs/common"]
	path = src/libs/common
	url = git@github.com:Joklost/common.git
[submodule "src/libs/http"]
	path = src/libs/http
	url = git@github.com:Joklost/http.git
[submodule "src/libs/sims"]
	path = src/libs/sims
	url = git@github.com:Joklost/sims.git
