[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-html-components = "*"
dash-core-components = "*"
plotly = "*"
pandas = "*"
psutil = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.6"
